// Tarjetas cotizador
.card__precio {
    @if $promo==true {
        color: $color-3;
        font-size: 2rem;
        font-weight: bold;
    }

    @else {
        color: $color-text;
        font-size: 2rem;
        font-weight: bold;
    }
}

.card__precio--anterior {
    @if $promo==true {
        color: $color-6;
        text-decoration-line: line-through;
    }

    @else {
        display: none;
    }
}
// Fin Tarjetas cotizador