@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,400;0,500;1,200;1,300&family=The+Nautigal:wght@400;700&display=swap");
.ma-100 {
  margin: 100%;
}

.ma-50 {
  margin: 50%;
}

.ma-25 {
  margin: 25%;
}

.mt-100 {
  margin-top: 100%;
}

.mt-50 {
  margin-top: 50%;
}

.mt-25 {
  margin-top: 25%;
}

.mr-100 {
  margin-right: 100%;
}

.mr-50 {
  margin-right: 50%;
}

.mr-25 {
  margin-right: 25%;
}

.mb-100 {
  margin-bottom: 100%;
}

.mb-50 {
  margin-bottom: 50%;
}

.mb-25 {
  margin-bottom: 25%;
}

.ml-100 {
  margin-left: 100%;
}

.ml-50 {
  margin-left: 50%;
}

.ml-25 {
  margin-left: 25%;
}

.pa-100 {
  padding: 100%;
}

.pa-50 {
  padding: 50%;
}

.pa-25 {
  padding: 25%;
}

.pt-100 {
  padding-top: 100%;
}

.pt-50 {
  padding-top: 50%;
}

.pt-25 {
  padding-top: 25%;
}

.pr-100 {
  padding-right: 100%;
}

.pr-50 {
  padding-right: 50%;
}

.pr-25 {
  padding-right: 25%;
}

.pb-100 {
  padding-bottom: 100%;
}

.pb-50 {
  padding-bottom: 50%;
}

.pb-25 {
  padding-bottom: 25%;
}

.pl-100 {
  padding-left: 100%;
}

.pl-50 {
  padding-left: 50%;
}

.pl-25 {
  padding-left: 25%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #4F4F4F;
}

p::first-letter {
  font-size: 1.2rem;
  font-weight: 500;
}

.titulos {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0;
  padding: 5rem 0rem 2rem;
}

.m-top {
  margin-top: 7rem;
}

.btn-primary {
  background-color: #ff1493;
  border: none;
}

.btn-secondary {
  color: #4F4F4F;
  background-color: #93ff14;
  border: none;
}

.btn-primary:hover,
.btn-secondary:hover {
  text-decoration: none;
  background-color: #14ff80;
  color: #4F4F4F;
}

.grad {
  height: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7df8a2), to(#05b914));
  background-image: linear-gradient(to right, #7df8a2, #05b914);
  border-radius: 10px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar {
  padding: 20px 80px;
}

.nav-item {
  font-weight: bolder;
  text-transform: uppercase;
  color: #ffffff;
}

.navbar-dark .navbar-toggler {
  border: navajowhite;
  color: #fff;
  border: 2px solid #ff1493;
  border-radius: none;
  outline: none;
}

.dropdown-menu {
  background: #343a40 !important;
  border: none;
}

.dropdown-item {
  color: #fff;
  font-weight: bolder;
}

.bg-inverse {
  background: #343a40 !important;
}

.banner {
  position: relative;
  background: url(../img/biker_einstein.jpg);
  min-height: 98vh;
  background-size: cover;
  background-position: center;
  padding: 180px 0 200pX;
}

.banner h2 {
  margin: 0 0 30px 0;
  padding: 0;
  font-family: 'Bangers', serif;
  font-size: 10vh;
  font-weight: 900;
  letter-spacing: 10px;
  color: #ff1493;
  -webkit-transform: rotateZ(350deg);
          transform: rotateZ(350deg);
  text-shadow: 0.07em 0.03em 0 #14ff80;
}

.btnCotizar {
  display: inline-block;
  margin: 1rem 0 0;
  background: #ff1493;
  color: #14ff80;
  padding: 15px 25px;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  font-size: 4vh;
  font-weight: 800;
}

.btnCotizar:hover {
  background: #14ff80;
  color: #4F4F4F;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px 40px;
  }
  .banner {
    position: relative;
    background: url(../img/banner_mobile.jpg);
    min-height: 98vh;
    background-size: cover;
    padding-top: 250px;
  }
  .banner h2 {
    font-size: 3rem;
  }
}

.servicios__img {
  width: 95%;
  -webkit-transform: rotateZ(3deg);
          transform: rotateZ(3deg);
}

.servicios__titulo h3,
.servicios__titulo h4 {
  font-size: 1.2rem;
  text-transform: initial;
}

.servicios__lista ul {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
}

.tarjetasClientes h4 {
  font-family: 'The Nautigal', cursive;
  text-transform: capitalize;
  font-size: 2rem;
  color: black;
  margin: 1.5rem 0 0 0;
}

.tarjetasClientes p {
  color: black;
}

.tarjeta, .tarjeta--bg {
  text-align: center;
  padding: 1.5rem;
  border-radius: .3rem;
  background-color: #93ff14;
  -webkit-box-shadow: 5px 5px 15px -8px rgba(0, 0, 0, 0.85);
          box-shadow: 5px 5px 15px -8px rgba(0, 0, 0, 0.85);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.tarjeta__img {
  width: 95%;
}

.tarjeta--bg {
  background-color: #fff614;
}

.tarjeta:hover, .tarjeta--bg:hover {
  background-color: #14ff80;
}

.imgfooter {
  margin: 0;
  line-height: 0;
}

.footer-clean {
  padding: 50px 0;
  background-color: #343a40;
  color: #ffffff;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

.card__precio {
  color: #93ff14;
  font-size: 2rem;
  font-weight: bold;
}

.card__precio--anterior {
  color: #ff141d;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
/*# sourceMappingURL=styles.css.map */